<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': postLove > 0,
                'list-group-item-danger': postLove < 0}">
  <div class="pull-right">
    <h3 class="text-muted text-italic"><em>{{ postDate | date: 'dd/MM/yyyy, hh:mm a' }}</em></h3>
  </div>
  <h2 [ngStyle]="{color: getColor()}"><strong>{{ postTitle }}</strong></h2>
  <p [ngStyle]="{color: getColor()}">{{ postContent }}</p>
  <div class="btn-toolbar">
      <button class="btn btn-success "
              (click)="love()">Love it!</button>
      <button class="btn btn-danger "
              (click)="hate()">Don't love it!</button>
  </div>

</li>
